body {
    margin: 0;
    font-weight: 400;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 2.2em;
    color:gray;
}
header{
    background-color:chocolate;
    
}
section,footer{
    margin: 40px;
}
h1{

    
    text-align: center;
    padding:15px;
    font-size: 43px;
    color:aliceblue;
}
h2{
    font-weight:bold;
    font-size: 25px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}

table{
    width: 100%;
}
table td{
    padding: 5px;
    color: #7f6146;
    font-size: 22px;
    
}
table tr:nth-child(even){
    background-color: gainsboro;
}
table tr:nth-child(odd){
    background-color: #bdbdbd;
}
table thead th {
    background-color: #7f6146;
    color: white;
}